div.meetEditor{
    margin: 0px;
    padding: 4px;
}


div.meetEditor:nth-child(even) {background: none;}
div.meetEditor:nth-child(odd) { background: #def;}

input.edit{
    margin: 2px 2px 4px 2px;
}

input.name {width: 30pt;}
input.title {width: 200pt;}
textarea.description {width: 100%;}

button.top.entries {
    background-color: #00f;
    font-size: 0.8em;
    font-weight: normal;
    color: #fff;
    padding: 2px 8px;
    margin: 4px;
}

button.entries svg{
    display: inline;
    height: 1em;
    vertical-align: top;
    fill: #fff;
}

div.builder {
    padding: 4px;
    margin: 4px;
    text-align:left;

}

button.new {
    border-radius: 0.3em;
    padding: 2px 8px;
    margin: 4px;
}


div.lane {
    font-size:8pt;
    min-height:16pt;
    margin-left: 20pt;
}


button.lane.name {
    border-radius: 0.3em;
    display: in-line;
    font-size: 10pt;
    padding: 2px 4px;
    margin-left: 8pt;
    width:132pt;
    text-align: left;
}


button.lane.name:hover{
    color:#fff;
    background-color: #000;
}

div.heat {
    display: inline-block;
    font-size: 10pt;
    text-align: left;
    margin-bottom:6pt;
    margin-left:12pt;
}

button.eventTitle {
    border-radius: 0.3em;
    padding:2px 4px;
    margin: 0 0.2em 0.2em 0.2em;
}


div.eventTitle{
    font-weight:bold;
    margin-bottom:0.5em;
}

div.empty{
    text-align: center;
    color: #abe;
    font-style: italic;
    min-height: 12pt;
}

div.timers{
    text-align:left;
}
div.laneSheet{
    display:block;
}

div.timerTitle{
    font-size:12pt;
    font-weight: bold;
    text-align: center;
}

div.timers.heat{
    display:block;
    margin-bottom: 8pt;
}

div.timerLine{
    min-width:80pt;
    display:inline-block;
    height: 18pt;
    margin:0 4pt;
    color: #fff;
    border-bottom:1px solid black;
}

div.timerLine:first-child{
    padding-left: 20pt;
}
span.timers.name{
    display:inline-block;

    min-width: 140pt;
    margin-right:20pt;
    border-bottom:1px solid black;
}

button.red{
    background-color: red;
}

button.blue{
    background-color: blue;
}

div.relay.swimmers {
    display:inline-block;
    width: 58%;
    vertical-align: top;
}

div.relay.relays {
    display:inline-block;
    width: 40%;
    vertical-align: top;
}

table.lineup td.relays {
    min-width: 55px;
    font-size: 0.8em;
    line-height: 1.25em;
    padding: 2px;
}
table.lineup td.relays:first-child {
font-size: 1.25em;
}